@include ani_slide-in;
@include ani_slide-out;
@keyframes moving-up {
  0% {
    top: 100px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100px;
    opacity: 0;
  }
}

.bg-color {
  background-color: $b-100;
}
.section-nav {
  @include section;
  &__container {
    @include container;
    @include mobile {
      @include container-sm;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding: 28px 0;
      border-bottom: 1px solid $b-0;
    }
    justify-content: space-between;
  }
  &__logo {
    width: auto;
    height: 40px;
    margin: 1.2rem;
  }
  &__tabs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.5rem;
    width: 100%;
    color: $b-0;
    @include mobile {
      display: none;
    }
  }
  &__tab {
    width: auto;
    height: auto;
  }
  &__burger {
    display: none;
    @include mobile {
      width: 40px;
      height: 40px;
      display: block;
    }
  }
  &__burger-popup {
    display: none;
  }
  input {
    appearance: none;
  }
  input:checked ~ div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
  }
}

.partial-nav {
  @include section;
  background-color: $b-100;
  &__container {
    @include container-sm;
    align-items: center;
    flex-direction: column;
  }
  &__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px;
    border-bottom: 1px solid $b-0;
  }
  &__banner-logo {
    width: auto;
    height: 40px;
    margin: 1.2rem;
  }
  &__banner-close-btn {
    width: 40px;
    height: 40px;
  }
  &__items {
    max-width: 100%;
    font-size: 80px;
    font-weight: 900;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 192px 107px 296px 107px;
    border-bottom: 1px solid $b-0;
  }
}

.section-hero {
  @include section;
  &__container {
    @include container;
    display: block;
    @include mobile {
      @include container-sm;
      display: block;
    }
  }
  &__caption {
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include mobile {
      margin: 2.5rem 0;
    }
  }
  &__caption-text {
    width: 100%;
    height: auto;
    font-size: $fs-10;
    color: $b-0;
    @include mobile {
      font-size: $fs-7;
    }
  }
  &__caption-btn {
    border: 1px solid $b-0;
    background-color: $b-100;
    color: $b-0;
    text-align: center;
    text-decoration: none;
    width: 10rem;
    height: 4rem;
    display: inline-block;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 1.2rem;
    line-height: 1.5rem;
    gap: 10px;
    cursor: pointer;
    @include mobile {
      width: 10rem;
      height: 4rem;
      margin-top: 2.5rem;
    }
  }
  &__deco {
    width: auto;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex: 1;
    @include mobile {
      margin-top: 11.25rem;
      max-width: 100%;
    }
  }
  &__deco > li:nth-child(3) > img {
    position: relative;
    animation: moving-up 4s ease 0s infinite normal backwards;
  }
  &__deco > li:nth-child(2) > img {
    position: relative;
    animation: moving-up 4s ease 0.5s infinite normal backwards;
  }

  &__deco > li:nth-child(1) > img {
    position: relative;
    animation: moving-up 4s ease 1s infinite normal backwards;
  }
  &__grace-img {
    max-width: 100%;
  }
}

.section-strength {
  @include section;
  @include mobile {
    margin-top: 62px;
  }

  &__container {
    @include container;
    display: block;
    @include mobile {
      @include container-sm;
      flex-direction: column;
    }
  }
  &__caption {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    color: $b-0;
    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
    &--sub {
      width: 40%;
      font-size: $fs-5;
      @include mobile {
        font-size: $fs-2;
      }
    }
    &--main {
      width: 60%;
      font-size: $fs-7;
      @include mobile {
        font-size: $fs-5;
        margin-top: 1.5rem;
      }
    }
  }
  &__text {
    &--lg {
      @include mobile {
        display: none;
      }
    }
    &--sm {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 5rem;
    gap: 0.8rem;
    @include mobile {
      flex-direction: column;
      margin-top: 3rem;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    max-width: (100%/3);
    border: 1px solid $b-0;
    padding: 5rem 2.5rem;
    border: 1px solid $b-80;
    border-radius: 1rem;

    color: $b-0;
    @include mobile {
      max-width: 100%;
      padding: 2.5rem 1.25rem;
    }
  }
  &__card-img {
    width: 5rem;
    height: 5rem;
  }
  &__card-caption {
    font-size: 2rem;
    margin-top: 0.8rem;
  }
  &__card-text {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
}

.section-review {
  @include section;

  &__container {
    @include container;
    flex-direction: column;
    @include mobile {
      @include container-sm;
      flex-direction: column;
      margin-top: 178px;
    }
  }
  &__caption {
    color: $b-0;
    font-size: $fs-5;
  }
  &__partners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px 0 160px 0;
    gap: 1.25rem;
    & li:nth-child(1) > div {
      animation: slide-in 15s linear infinite;
    }
    & li:nth-child(2) > div {
      animation: slide-out 15s linear infinite;
      @include mobile {
        animation: slide-out-mobile 15s linear infinite;
      }
    }
    @include mobile {
      margin-top: 1.5rem;
      margin-bottom: 48px;
      gap: 0.875rem;
    }
  }

  &__partners-imgs {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 2.5rem;
  }
  &__partners-bar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      background-image: linear-gradient(
        to right,
        $b-100,
        $b-100,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
      );
      opacity: 1;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: 0px;
      position: absolute;
      background-image: linear-gradient(
        to right,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        $b-100,
        $b-100
      );
      opacity: 1;
    }
    @include mobile {
      overflow: hidden;
    }
  }
  &__partners-icon {
    width: 10rem;
    height: 2.5rem;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    color: $b-0;
    width: 100%;
    gap: 1.25rem;
    @include mobile {
      display: none;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: (100%/3);
    padding: 2.5rem;
    border-radius: 1rem;
  }
  &__star {
    width: 1rem;
    height: 1rem;
  }
  &__cmt {
    margin-top: 1.25rem;
    height: 215px;
    @include mobile {
      height: auto;
    }
  }
  &__contact {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    @include mobile {
      margin-top: 20px;
    }
  }
  &__contact-pic {
    width: 3rem;
    height: 3rem;
    margin-top: 1.25rem;
  }
  &__contact-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.25rem;
    gap: 0.25rem;
  }
  &__contact-co {
    font-size: $fs-m-1;
  }
  &__card-fake {
    display: none;
    @include mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 100%;
      color: $b-0;
    }
  }
  &__card-dots {
    display: none;
    @include mobile {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      gap: 8px;
    }
  }
  &__card-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $b-0;
    opacity: 20%;
    &--active {
      background-color: $b-0;
      opacity: 1;
    }
  }
}

.section-portfolio {
  @include section;
  background-color: $b-0;
  color: $b-100;
  border-radius: 10rem;
  @include mobile {
    border-radius: 20px;
  }
  &__container {
    @include container;
    flex-direction: column;
    @include mobile {
      @include container-sm;
    }
  }
  &__caption {
    &--lg {
      font-size: $fs-8;
      color: $b-100;
      font-weight: bold;
      line-height: 6rem;
      margin-top: 10rem;

      @include mobile {
        display: none;
      }
    }

    &--sm {
      display: none;

      @include mobile {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        padding: 0 3rem;
        margin-top: 5rem;
      }
    }
  }
  &__search {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 5rem;
    padding: 1.25rem 2.5rem;
    background-color: $b-20;
    border-radius: 1rem;
    gap: 0.75rem;
    @include mobile {
      margin-top: 2rem;
      width: auto;
      max-width: 100%;
    }
  }
  &__searchbar-icon {
    width: 1.5rem;
  }
  &__searchbar {
    width: 100%;
    height: 1rem;
    font-size: 1rem;
    background-color: $b-20;
    border: none;
  }
  &__sort {
    &--lg {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      color: $b-100;
    }
    &--sm {
      display: none;
    }
    @include mobile {
      &--lg {
        display: none;
      }
      &--sm {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 1.5rem;
      }
    }
  }
  &__sort-sm {
    display: flex;
    justify-content: space-between;
  }
  &__filter,
  &__order {
    display: flex;
    align-items: center;
    padding: 1.25rem 2rem 1.25rem 2.5rem;
    border: 1px solid $b-20;
    border-radius: 1rem;
    color: $b-100;
    gap: 1.5rem;
  }
  &__filter-text {
    font-size: 1rem;
  }

  &__genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $b-60;
    font-size: 1rem;
    gap: 1.5rem;
    @include mobile {
      align-items: flex-start;
      gap: 0.5rem;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }
  &__genre-option {
    padding: 0.5rem 1rem;
    &:hover {
      color: $b-100;
      cursor: pointer;
    }
  }
  &__order {
    gap: 1.25rem;
  }
  &__order-icon {
    width: 1rem;
    height: 1rem;
  }
  &__pages {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.25rem;
    margin-top: 2.5rem;
  }
  &__page {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: $fs-m-1;
    font-weight: 700;
    color: $b-100;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  @include mobile {
    flex-direction: column;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3 - 1.5rem);
    height: 100%;
    border: 1px solid $b-20;
    border-radius: 1rem;
    @include mobile {
      min-width: 100%;
    }
  }
  &__card-img {
    width: 100%;
    height: 312px;
    border-radius: $fs-1 $fs-1 0 0;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__card-top {
    display: flex;
    flex-direction: column;
    height: 118px;
    padding: 1.5rem 2rem;
    gap: 0.75rem;
  }
  &__card-caption {
    font-size: $fs-2;
    font-weight: 900;
  }
  &__card-info {
    display: flex;
    font-size: $fs-m-1;
    color: $b-80;
  }
  &__card-mid,
  &__card-btm {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $b-20;
    padding: 1.5rem 2rem;
  }
  &__card-mid-1 {
    font-size: $fs-1;
    font-weight: 700;
  }
  &__card-mid-2 {
    font-size: $fs-1;
  }
  &__card-btm-1 {
    font-size: $fs-1;
  }
}

.section-start {
  @include section;
  &__container {
    @include container;
    flex-direction: column;
    align-items: center;
    color: $b-0;
    @include mobile {
      @include container-sm;
    }
  }
  &__caption {
    &--lg {
      font-size: 3rem;
      color: $b-0;
      margin-top: 5rem;
      text-align: center;
    }
    &--sm {
      display: none;
    }
    @include mobile {
      &--lg {
        display: none;
      }
      &--sm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        margin-top: 120px;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid $b-0;
    padding: 20px 32px 20px 40px;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    background-color: $b-100;
    color: $b-0;
    gap: 12px;
    @include mobile {
      margin-top: 2rem;
      margin-bottom: 120px;
    }
  }
  &__btn-text {
    font-size: 1rem;
    font-weight: 900;
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.section-pricing {
  @include section;
  border-top: 1px solid $b-0;
  border-bottom: 1px solid $b-0;
  margin-top: 5rem;
  padding: 5rem 0 3.5rem 0;
  &--mt10rem {
    margin-top: 10rem;
  }
  @include mobile {
    margin-top: 20px;
    padding-bottom: 80px;
  }
  &__container {
    @include container;
    justify-content: space-between;
    @include mobile {
      @include container-sm;
      flex-direction: column-reverse;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include mobile {
      margin-top: 2.5rem;
    }
  }

  &__tab {
    font-size: $fs-8;
    color: $b-0;
  }
  &__logo {
    width: 188.99px;
    height: 40px;
    @include mobile {
      width: 244.99px;
    }
  }
}

.footer {
  @include section;
  &__container {
    &--lg {
      @include container;
      justify-content: space-between;
      margin: 1.5rem 0;
      color: $b-0;
      font-size: 1rem;
      font-weight: 700;
    }
    &--sm {
      display: none;
    }
    @include mobile {
      &--lg {
        display: none;
      }
      &--sm {
        @include container-sm;
        flex-direction: column;
        margin: 1.5rem 0;
        color: $b-0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
  &__container-sm {
    display: flex;
    justify-content: space-between;
  }
  &__rights {
    padding: 1.25rem 5rem 1.25rem 0;
    gap: 1.25rem;
  }
  &__tabs {
    display: flex;
    justify-content: flex-start;
    flex: 2 0 auto;
    gap: 1.25rem;
    @include mobile {
      justify-content: flex-start;
    }
  }
  &__tab {
    padding: 1.25rem;
    @include mobile {
      padding: 12px 0;
    }
  }
  &__back {
    display: flex;
    justify-content: center;
    gap: 0.875rem;
  }
  &__backup {
    padding: 1.25rem 0;
    text-align: end;
  }
  &__icon-up {
    padding: 1.25rem 0;
  }
}
