@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  width: 67.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@mixin container-sm {
  max-width: 93.6%;
  display: flex;
  justify-content: center;
}
