@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  width: 67.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@mixin container-sm {
  width: 93.6%;
  display: flex;
  justify-content: center;
}

// animation

@mixin ani_slide-in {
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@mixin ani_slide-out {
  @keyframes slide-out {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
