.section-pricing-main {
  @include section;
  &__container {
    @include container;
    flex-direction: column;
  }
  &__row {
    display: flex;
    &--1st {
      justify-content: flex-start;
      flex-direction: column;
    }
    &--2nd {
      justify-content: flex-end;
      padding-left: 40%;
    }
    &--3rd {
      justify-content: flex-start;
    }
  }
  &__caption {
    font-size: 120px;
    font-weight: 900;
    text-wrap: nowrap;
  }
  &__text {
    font-size: 48px;
    font-weight: 900;
    margin-top: 5rem;
  }
  &__deco {
    display: flex;
    margin-top: 238px;
  }
}

.section-pricing-sub {
  @include section;
  margin-top: 10rem;
  &__container {
    @include container;
    flex-direction: column;
  }
  &__caption {
    font-size: 2rem;
    font-weight: 900;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 1.5rem;
  }
  &__card {
    min-width: 632px;
    border: 1px solid $b-0;
    border-radius: 1rem;
  }
  &__card-body {
    min-height: 254px;
    padding: 20px 32px 20px 32px;
    border-bottom: 1px solid $b-0;
  }
  &__card-caption {
    font-size: 2rem;
  }
  &__card-items {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 12px;
  }
  &__card-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px 20px 32px;
  }
  &__card-footer-price {
    font-size: 20px;
    color: $b-60;
    &--bold {
      color: $b-0;
      font-weight: 900;
    }
  }
  &__card-footer-click {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 1rem;
    text-align: center;
    color: $b-0;
  }
}

.section-pricing-policy {
  @include section;
  margin-top: 10rem;
  margin-bottom: 10rem;
  &__container {
    @include container;
    justify-content: space-between;
  }
  &__caption {
    font-size: 2rem;
    font-weight: 900;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__items-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $b-0;
    padding: 0 0 40px 0;
  }
  &__item-title {
    font-size: 3rem;
    font-weight: 900;
  }
  &__item-text {
    font-size: 2rem;
  }
}
