// font-sizes
$fs-m-1: 0.875rem;
$fs-m-2: 0.75rem;
$fs-1: 1rem;
$fs-2: 1.25rem;
$fs-3: 1.5rem;
$fs-4: 1.75rem;
$fs-5: 2rem;
$fs-6: 2.5rem;
$fs-7: 3rem;
$fs-8: 5rem;
$fs-9: 7.5rem;
$fs-10: 10rem;

// color
$b-100: #020202;
$b-80: #525252;
$b-60: #919191;
$b-40: #d1d1d1;
$b-20: #f2f2f2;
$b-0: #ffffff;
